
body{
    padding: 0%;
    margin: 0;
}
*{
    box-sizing: border-box;
}
nav{
    display: inline-block;
}
.navbar-brand{
    text-align: center;
    padding: 5px;
    width: 60.86px;
   
color: #0065F2;
}
.navbar-brand:hover{
    color:white;
    background-color: #0065F2;
}
.bi-circle{
    width: 60px;
    height: 60px;
    background-color: lightblue;
    border-radius: 50%;
}
.bi-facebook,.bi-twitter{
    width: 16px;
    height: 16px;
    color: white;
    background-color: blue;
    border-radius: 10%;
}
#desc-img{
    width: 555px;
}

#action-button{
 align-self: center;
  
}
.footer-logo img{
    width: 50px;
}
.foot-logo{
    width: 70px;
    height: 15px;
    padding: 5px;
    color: #0065F2;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 51%, rgba(35,81,168,0.4976584383753502) 92%);

}

.input-field{
    width: 100%;
}
input{
    position: relative;
    width: 100%;
   padding-top: 10;
   height: 40px;
   background-color: #E0ECFD66;
   
    
}

.icon{
   
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
   color: blue;
}
