<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing-page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="bg-light">
 <!--Navbar-->
 
    <nav class="navbar navbar-expand-lg bg-body-dark text-white  mb-2 mb-lg-5">
      <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../image/logo.png" class="img-fluid rounded">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-primary" aria-current="page" href="#">First</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="#">Second</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link text-primary " >Third</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary " >Fourth</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary " >Firth</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-primary" >Six</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            
            <button class="btn btn-primary" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mb-2" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
          </form>
        </div>
      </div>
    </nav>
    
 <!--Navbar-->
 <!--Home Banner-->
 <header class="main-header border-bottom py-5">
    <div class="container">
        <div class="row align-item-center">
         <div class="col-md-6  mb-2">
            <div class="home-header-text  ">
              <h1 class="text-primary"> Medium length display headline</h1>
              <p class="text-primary">Separated they live in Bookmarks right at the coast of the famous Semantics, large language </p>
              <div class="row gx-md-0   gx-2 mb-2">
                <div class="col-md-3">
                    <div class="home-button">
                        <a href="#" class="btn btn-lg btn-primary rounded">Action</a>
                    </div>
                </div>
                <div class="col-md-5 mb-2 ">
                    <div class="button-text">
                        <p class="text-primary">5,000 people like you have purchased this product!</p>
                    </div>
                </div>
              </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="home-image">
                <img class="img-fluid full-width  rounded shadow-sm" src="../image/Image.jpg">
            </div>
         </div>
        </div>
    </div>
 </header>
 <!--Home Banner-->
 <!--Feature section-->
 <section class="feature-content py-5 mb-lg-0 mb-2" >
  <div class="container feature-content-layout">
    <div class="row align-items-center mb-md-0">
        <div class="col-md-4">
           
            <h1 class="feature-one-title text-primary fs-5">
                <span class="feature-one-image-holder me-md-2">
                    <img src="../image/Glyph.png" alt="" class="img-fluid rounded shadow-sm full-width">
                </span>
                Feature one
            </h1>
            <p class="feauter-one-text text-primary">All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.</p>
        </div>
        <div class="col-md-4">
           
            <h1 class="feature-one-title text-primary fs-5">
                <span class="feature-one-image-holder me-md-2">
                    <img src="../image/Glyph2.jpg" alt="" class="img-fluid rounded shadow-sm full-width">
                </span>
                Feature two
            </h1>
            <p class="feauter-one-text text-primary">All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.</p>
        </div>
        <div class="col-md-4">
           
            <h1 class="feature-one-title text-primary fs-5">
                <span class="feature-one-image-holder me-md-2">
                    <img src="../image/Glyph.jpg" alt="" class="img-fluid rounded shadow-sm full-width">
                </span>
                Feature three
            </h1>
            <p class="feauter-one-text text-primary">All base UI elements are made using Nested Symbols and shared styles that are logically connected with one another.</p>
        </div>
    </div>
  </div>
 </section>
 <!--Feature section-->
 <!--Description -->
 <section class="description-content border-botton py-5">
    <div class="container description-holder">
        <div class="row  justify-content-center">
            <div class="col-md-6">
               <div class="description-header-holder">
                <h1 class="description-header text-primary fs-3">Long headline on two lines to turn your visitors into users and achieve more</h1>
                <p class="description-text text-primary"> Separated they live in Bookmarks right at the coast of the famous Semantics, large language ocean</p>
               <ul class="description-list justify-content-center">
                <li class="text-primary">Showcase and embed your work with </li>
                <li class="text-primary">Publish across social channels in a click</li>
                <li class="text-primary">Sell your videos worldwide</li>
                <li class="text-primary">Embed your work with </li>
               </ul>
            </div> 
            </div>
            <div class="col-md-6">
                <div class="description-image-holder bg-dark">
                    <img class="img-fluid full-width  rounded shadow-sm" src="../image/Image.jpg" alt="" id="desc-img">
                </div>
             </div>
        </div>
    </div>
 </section>
 <!--Description -->
 <!--content-two-->
 <section class="content-two py-5 mb-2 mb-md-0 border-botton">
    <div class="container content-two-holder">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="content-two-image-holder mb-2">
                    <img src="../image/Image.png" alt="" class="img-fluid rounded shadow-sm full-width">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contents-description-holder">
                    <h1 class="text-primary fs-3">Long headline on two lines to turn your visitors into users and achieve more</h1>
                    <p class="text-primary fs-5">Separated they live in Bookmarks right at the coast of the famous Semantics, large language ocean Separated they live in Bookmarks right at the coast</p>
                 <ul class="contents-description-list list-unstyled">
                    <li class="text-primary fs-5  "> 
                        <span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                      </svg>
                    </span>
                    Showcase and embed your work with </li>
                    <li class="text-primary fs-5">
                        <span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                          </svg>
                        </span>
                         Publish across social channels in a click</li>
                    <li class="text-primary fs-5">
                        <span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                          </svg>
                        </span>
                        Sell your videos worldwide </li>
                    
                 </ul>
                </div>
            </div>
        </div>
    </div>
 </section>
 <!--content-two-->
 <!--Customers-->
 <section class="customers py-2 border-botton mb-2">
   <div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 mb-2">
            <div class="card customers-view">
                <div class="card-body">
                    <p class="card-text text-primary fs-5">
                       
                   “All base UI elements are made using Nested Symbols and shared styles that are logically connected. Gorgeous, high-quality video sharing on desktop, mobile, tablet. All base UI elements are made using Nested Symbols”
                       
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      </svg>

                      
                </div>
                <div class="px-2">
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="footer-details">
                                <h3 class="footer-header fs-5">Name Surname</h3>
                                <p class="footer-description fs-6">Description</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-social-media">
                                <div class="d-flex align-items-end mb-3 ms-5 mt-4">
                                   <div class="p-2"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook me-2" viewBox="0 0 16 16">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                  </svg>
                                </div>
                                      <div class="p-2 mr-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                                          </svg>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card customers-view">
                <div class="card-body">
                    <p class="card-text text-primary fs-5">
                       
                   “All base UI elements are made using Nested Symbols and shared styles that are logically connected. Gorgeous, high-quality video sharing on desktop, mobile, tablet. All base UI elements are made using Nested Symbols”
                       
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      </svg>

                      
                </div>
                <div class="px-2">
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="footer-details">
                                <h3 class="footer-header fs-5">Name Surname</h3>
                                <p class="footer-description fs-6">Description</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-social-media">
                                <div class="d-flex align-items-end mb-3 ms-5 mt-4">
                                   <div class="p-2"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook me-2" viewBox="0 0 16 16">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                  </svg>
                                </div>
                                      <div class="p-2 mr-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                                          </svg>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card customers-view">
                <div class="card-body">
                    <p class="card-text text-primary fs-5">
                       
                   “All base UI elements are made using Nested Symbols and shared styles that are logically connected. Gorgeous, high-quality video sharing on desktop, mobile, tablet. All base UI elements are made using Nested Symbols”
                       
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      </svg>

                      
                </div>
                <div class="px-2">
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="footer-details">
                                <h3 class="footer-header fs-5">Name Surname</h3>
                                <p class="footer-description fs-6">Description</p>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="footer-social-media">
                                <div class="d-flex align-items-end mb-3 ms-5 mt-4">
                                   <div class="p-2"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook me-2" viewBox="0 0 16 16">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                  </svg>
                                </div>
                                      <div class="p-2 ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                                          </svg>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
   </div>
 </section>
 <!--Customers-->
 <!--Short Headlines-->
 <section class="short-healines mb-2 mb-lg-0 py-5">
    <div class="container  ">
        <div class="short-headlines-holder  d-flex  justify-content-center ">
           <div class="col-md-6  ">
            <h1 class="headlines-header text-primary">Short headline</h1>
            <p class="text-primary headlines-text  text-primary fs-6">
                Acme automates your subscription revenue and customer reporting.
                 Just connect your data and Acme will calculate and visualize your most
                  important metrics. 
                </p>
        <ul class="headline-list list-group list-group-flush list-unstyled mt-4">
            <li class="list-group-item text-primary">System requirements <span class=" d-flex justify-content-end "> <img src="../image/Arrow.png" class="img-fluid shadow-sm "></span></li>
            <li class="list-group-item text-primary">Where can I learn more about how to get started? <span class="d-flex justify-content-end"> <img src="../image/Arrow.png" class="img-fluid shadow-sm "></span> </li>
            <li class="list-group-item text-primary">Is Acme available for Linux? <span class="d-flex justify-content-end"> <img src="../image/Arrow.png" class="img-fluid shadow-sm "></span> </li>
            <li class="list-group-item text-primary">What about a version for iOS? <span class="d-flex justify-content-end"> <img src="../image/Arrow.png" class="img-fluid shadow-sm "></span> </li>
            <li class="list-group-item text-primary">Will I automatically be charged when my trial ends? <span class="d-flex justify-content-end"> <img src="../image/Arrow.png" class="img-fluid shadow-sm "></span> </li>
        </ul>
           </div>
        </div>
    </div>

 </section>
 <!--Short Headlines-->
 <!--Taglines-->
 <section class="taglines-holder py-5 mb-lg-0 mb-2">
    <div class="container " >
        <div class="tagline-content  tagline d-flex justify-content-center">
            <div class="col-md-6">
                <h1 class="tagline header text-primary text-center fs-5">Tagline</h1><br>
                <p class="tag-text text-primary  fs-1 px-5">Long headline to turn your visitors into users</p>
               <div class="d-flex justify-content-center   ">
                <button type="button" class="btn btn-primary  shadow-sm text-white " id="action-button">Action</button>
            
               </div>
            </div>
           </div>
    </div>
 </section>
 <!--Taglines-->
 <!--footer-->
 <section class="footer py-5">
    <div class="container">
        <div class="footer-content">
           <div class="row">
            <div class="col-md-3">
                <div class="footer-logo">
                    <img src="../image/logo.png" alt="" class="img-fluid full-width rounded">
                </div>
            </div>
            <div class="col-md-2">
             <div class="footer-column-one">
                <h1 class="footer-header  text-primary fs-5">First column</h1>
                <ul class="list-unstyled">
                    <li class="list-group-item"><a href="" class="footer-manu text-decoration-none">First page</a> </li>
                <li class="list-group-item"> <a href="" class="footer-manu text-decoration-none">Second page</a> </li>
                <li class="list-group-item">  <a href="" class="footer-manu text-decoration-none">Third</a></li>
                <li class="list-group-item"><a href="" class="footer-manu text-decoration-none">Fourth</a> </li>
                 
                </ul>
                
                
                 
             </div>

            </div>
            <div class="col-md-2">
                <div class="footer-column-two">
                   <h1 class="footer-header  text-primary fs-5">Second</h1>
                   <ul class="list-unstyled">
                    <li class="list-group-item"><a href="" class="footer-manu text-decoration-none">Fifth page</a> </li>
                    <li class="list-group-item"><a href="" class="footer-manu text-decoration-none">Sixth page</a> </li>
                    <li class="list-group-item"> <a href="" class="footer-manu text-decoration-none">Eighth</a> </li>
                   </ul>
                   
                   
                  
                </div>
   
               </div>
               <div class="col-md-2">
                <div class="footer-column-third">
                   <h1 class="footer-header fs-5 text-primary">Third</h1>
                   <ul class=" list-unstyled ">
                    <li class="list-group-item " > <a href="" class="footer-manu text-decoration-none">Fifth page</a></li>
                    <li class="list-group-item">   <a href="" class="footer-manu text-decoration-none">Sixth page</a></li>
                    <li class="list-group-item"><a href="" class="footer-manu text-decoration-none">Eighth</a> </li>
                   </ul>
                    
                  
                    
                </div>
   
               </div>
            <div class="col-md-3">
                <div class="footer-subscription">
                    <h1 class="fs-5 footer-subscript text-primary">Subscribe</h1>
                       <form>
                        <div class="input-group mb-3 " id="input-subscrip">
                            
                            <input type="text" class="input-field bg-tertially" placeholder="placeholder"  >
                             <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                                    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                                  </svg>
                             </span>
                          </div>
                       </form>
                           

                           <p class="footer-text text-primary small">Join our newsletter to stay up to date on features and releases</p>
                   
                </div>
            </div>
           </div>
        </div>
    </div>
 </section>
 <!--footer-->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>